@use 'colors' as *;
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
.section__padding {
	padding: 4em 2em;
}

.btn-style {
	padding: 1em 3em;
	border-radius: 30px;
	margin: 0.6em;
	font-family: 'Montserrat', sans-serif;
	width: 200px;
	color: #fff;
	cursor: pointer;
}
.btn-brand {
	border: none;
	background-image: linear-gradient(45deg, #eba1de, #c982ef);
	transition: background-image 0.3s;
	&:hover {
		background-image: linear-gradient(#c982ef 100%, #eba1de 0);
	}
}

.btn-influ {
	border: 1px solid #4a4545;
	background: none;
	cursor: pointer;
	transition: background-color 0.3s;
	&:hover {
		background-color: $extension;
	}
}
